{% extends 'base.html' %}
{% load static %}

   
{% block content %}

<!doctype html>
<html lang="en">
  <head>
   

    <title>Order Page</title>
  </head>
  <body>
    

    <!--TopSide-->
    {% include "topside.html" %}
    <!--End TopSide-->
    <!--Tables-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Ordered by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                              Michel
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                               Atieno
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                Otieno
                            </td>
                        </tr>
                        
                    </tbody>
                </table> 
            </div>
        </div>

           
    </div>
    <!--End Tables-->
  
  </body>
</html>

{% endblock %}