{% extends 'base.html' %}
{% load static %}

   
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    

    <title>Profile Page</title>
  </head>
  <body>
   
    <!--Tables-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Customer Detail Page
                    </div>
                    <div class="card-body">
                       <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Profile Information</span>
                            <a class="btn btn-info btn-sm float-right" href="">Edit</a>
                            <hr>
                             <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>Mark</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>mark@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>254711456789</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>7487 The Palace</td>     
                                    </tr>
                                  
                                    
                                </tbody>
                            </table> 
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="./media/IMG-20210418-WA0208.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        </div>

           
    </div>
    <!--End Tables-->
  
  </body>
</html>

{% endblock %}