{% extends 'base.html' %}
{% load static %}

   
{% block content %}

<!doctype html>
<html lang="en">
  <head>
   

    <title>{% block head_title %}Staff {% endblock %}</title>
  </head>
  <body>
    

    <!--TopSide-->
     {% include "topside.html" %}
    <!--End TopSide-->
    <!--Tables-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'staff-detail' employee.id %}">View</a></th>
                            <td>{{ employee.username }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.profile.phone }}</td>
                        </tr>
                       {% endfor %}
             
                    </tbody>
                </table> 
            </div>
        </div>

           
    </div>
    <!--End Tables-->
  

    

  
   
  </body>
</html>

{% endblock %}